:root {
    --bg-primary: #0d1117;
    --color-arrow: #ffffff;
    --color-transparent-90: #ffffff90;
    --color-transparent-75: rgba(255,255,255,.75);
    --color-header-svg: #6e7781;
    --color-header-service-link: #0969da;
    --color-header-service-link-title: #1F2328;
    --color-border-default: #d0d7de;
    --color-header-container-navegation-responsive: rgba(31,35,40,0.5);
    --color-header-search-responsive-link: #24292f;
    --color-header-search: #57606a;
    --bg-glowing: #dd7df7;
    --bg-glowing-green: #7ee787;
    --color-text-green: #7ee787;
    --color-fg-subtle: #6e7681;
    --color-text-muted: #7d8590;
    --color-mktg-btn-shadow-hover: 
        0 4px 7px rgba(0, 0, 0, 0.15),
        0 100px 80px rgba(255, 255, 255, 0.02),
        0 42px 33px rgba(255, 255, 255, 0.024),
        0 22px 18px rgba(255, 255, 255, 0.028),
        0 12px 10px rgba(255, 255, 255, 0.034),
        0 7px 5px rgba(255, 255, 255, 0.04),
        0 3px 2px rgba(255, 255, 255, 0.07);
    --color-canvas-default: #0d1117;
    --color-accent-fg: #0969da;
    --color-fg-subtle: #6e7681;
    --color-mktg-btn-shadow-hover-muted: white 0 0 0 2px inset;
}
