:root {
    --bg-primary: #0d1117;
    --color-arrow: #ffffff;
    --color-transparent-90: #ffffff90;
    --color-transparent-75: #ffffff75;
    --color-header-svg: #6e7781;
    --color-header-service-link: #0969da;
    --color-header-service-link-title: #1F2328;
    --color-border-default: #d0d7de;
}

body {
    overflow-x: hidden;
    font-family: 'Mona Sans';
}

/* Class Optimization */
.border-white-1 {
    border: 0.0625rem solid var(--color-transparent-90);
}

.p-8px {
    padding: 8px;
}

.p-1 {
    padding: 1rem;
}

.py-1 {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.px-1 {
    padding-left: 1rem;
    padding-right: 1rem;
}

.color-white {
    color: white;
}

.currentColor {
    fill: currentColor;
}

.g-1 {
    gap: 1rem;
}

.g-2 {
    gap: 2rem;
}

.m-1 {
    margin: .5rem;
}

.mr-1 {
    margin-right: .5rem;
}

.ml-1 {
    margin-left: .5rem;
}

.m-2 {
    margin: 1rem;
}

.mr-2 {
    margin-right: 1rem;
}

.mr-3 {
    margin-right: 1.5rem;
}

.mr-4 {
    margin-right: 2rem;
}

.mrl-1 {
    margin-right: 4px;
}

.ml-2 {
    margin-left: 1rem;
}

.d-flex {
    display: flex;
}

.jc-center {
    justify-content: center;
}

.jc-between {
    justify-content: space-between;
}

.ai-center {
    align-items: center;
}

.fd-column {
    flex-direction: column;
}

.position-relative {
    position: relative;
}

.position-absolute {
    position: absolute;
}

.width-full {
    width: 100%;
}

/* HEADER */
.headerMenu {
    width: 100%;
    top: 0px;
    left: 0px;
    font-family: -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.headerMenu__logo {
    color: white;
}

/* NAVEGATION */
.navegation {
    height: 40px;
}

.navegation__lists {
    list-style-type: none;

}

.navegation__list {
    color: white;
    transition: color 500ms cubic-bezier(0.16, 1, 0.3, 1);

}

.navegation__list:hover .headerMenu__dropdown {
    transition: color 500ms cubic-bezier(0.16, 1, 0.3, 1);
    transition-property: transform, opacity;
    visibility: visible;
    opacity: 1;
    transform: scale(1) translateY(0);
    left: -13px;
}

.headerMenu__dropdown {
    z-index: 2;
    width: 500px;
    background: white;
    border-radius: 6px;
    padding: 24px 0px;
    visibility: hidden;
    opacity: 0;
    transform: scale(0.99) translateY(-0.7em);
    transform-origin: top;
    transition-property: transform, opacity;

}
.headerMenu__dropdown--width{
    width: 300px;
}
.navegation__menu {
    cursor: pointer;
    z-index: 3;
}

.navegation__menu:hover {
    color: var(--color-transparent-90);
}

.navegation__menu:hover .icon-arrow {
    transform: translateY(4px);
}

.icon-arrow {
    transform: translateY(2px);
    color: var(--color-arrow);
    fill: currentColor;
    transition-timing-function: cubic-bezier(0.16, 1, 0.3, 1);
    transition-duration: 500ms;
    transition-property: opacity, transform;
}

/* HEADER FORMULARIO AND ACCESS ACCOUNT , REGISTER */
.headerMenu__links {
    color: white;
    text-decoration: none;
    display: block;
    border-radius: 6px;
}

.headerMenu__links--up {
    padding: 5px 8px;
}

.searchContainer {
    background: rgba(46, 55, 74, .82);
    height: 32px;
    border-radius: 6px;
    width: 324px;
    padding-left: 6px;
    border: 1px solid #57606a;
    cursor: pointer;
}

.svg {
    width: 16px;
    height: 16px;
    color: #57606a;
    fill: currentColor;
}

.searchContainer__span {
    color: var(--color-transparent-75);
    font-size: 14px;
    display: table-cell;
    flex: 1;
}

/* SUB INFORMATION LINK NAV*/


.headerMenu__productLink,
.headerMenu__productLink-Service,
.headerMenu__productLink-OpenSource {
    color: var(--color-header-svg);
    text-decoration: none;
    line-height: 1.25;
    padding: 8px 0px 16px 0px;

    transition-property: opacity, transform;
}
.headerMenu__productLink-OpenSource-margin{
    padding: 8px 0px 8px 0px;
}

.headerMenu__productLink--lineheight,
.headerMenu__productLink-Service-lineheight,
.headerMenu__productLink-OpenSource-lineheight {
    line-height: unset;
    padding: 8px 0px 8px 0px;
}

.headerMenu__columns {
    padding: 0px 24px;
}
.headerMenu__columns--width{
    width: 100%;
}

.headerMenu_columns--paddingBorder {
    padding-right: 48px;
    padding-left: 24px;
    border-right: 1px solid var(--color-border-default);
}
.headerMenu__product-link-hover-dropdown:hover .headerMenu__svg--dropdown{
    visibility: visible;
    opacity: 1;
    transform: scale(1) translateX(0.2em);
}

.headerMenu__productLink--padding {
    padding: 8px 0px;
}

.headerMenu__productLink:hover,
.headerMenu__productLink:hover .headerMenu__titleLink,
.headerMenu__productLink-Service:hover,
.headerMenu__productLink-OpenSource:hover .headerMenu__titleLink,
.headerMenu__productLink-OpenSource:hover {
    color: var(--color-header-service-link);
}

.headerMenu__info,
.headerMenu__info-Service,
.headerMenu__info-OpenSource {
    font-size: 14px;
}
.headerMenu__info-Service-border,
.headerMenu__info-OpenSource-border{
    padding-bottom: 16px;
    border-bottom: 1px solid var(--color-border-default);
    margin-bottom: 16px;
}

.headerMenu__titleLink,
.headerMenu__titleLink-Service,
.headerMenu__titleLink-OpenSource {
    font-weight: 600;
    font-size: 16px;
    fill: currentColor;
    color: var(--color-header-service-link-title);
}

.headerMenu__titleLink--margin,
.headerMenu__titleLink-Service-margin,
.headerMenu__titleLink-OpenSource-margin {
    margin: 4px 0px;
}

.headerMenu__svg {
    margin-right: 16px;
    fill: currentColor;
}
.headerMenu__svg--dropdown {
    margin-right: unset;
    opacity: 0;
    transform: translateX(-0.3em);
    transition-timing-function: cubic-bezier(0.16, 1, 0.3, 1);
    transition-duration: 500ms;
    transition-property: opacity, transform;
}

.headerMenu__typeService,
.headerMenu__typeOpenSource{
    width: 100%;
}

/* MAIN */
.mainContainer {
    color: white;
}

.mainContainer__picture {
    top: 0px;
    z-index: -1;
    width: 100%;
}

.mainContainer__picture>img {
    right: -1050px;
    max-width: calc(230vw + 1670px);
}